.ui-datepicker-calendar {
	display: none;
}
.calidad {background-color: #FBFB32 !important;}
.ambiente {background-color: #B2F84C !important;}
.sast {background-color: #D790FC !important;}
.sgen {background-color: #F96888 !important;}
.def {}